[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
"black" = "==19.10.b0"
"zest.releaser" = "*"
"coveralls" = "*"

[packages]
"batch-calculator" = {path = ".", editable = true, extras=["test"]}

[requires]
python_version = "3"
h5py = "*" 
jwt = "*"
